.parent{ 
    margin: 10px;
    display: grid;  
    grid-template-rows: 12;
    grid-template-columns: 12;  
    grid-gap: 10px;
    
}  
.header{
    grid-column-start:1;
    grid-column-end:12; 
    border: 2px solid black;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 11; 
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid black;

} 
.navigation{
    grid-column: 4/9; 
    grid-row:2/3;
    border: 2px solid black;

} 
.main{
    grid-row: 3/11;
    grid-column:4/9 ;
    border: 2px solid black;

} 
.ads{
    grid-column: 9/12;
    grid-row: 2/11;
    border: 2px solid black;

} 
.footer{
    grid-row: 11/12;
    grid-column:1/12;
    border: 2px solid black;

}