div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto; 
    background-image: url(download.jpeg); 
    background-size: cover; 
    color: aliceblue;
}
/*shadow content
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874; 
    margin: 10px auto; 
    box-shadow: 2px 2px 8px rgb(12, 12, 12);
} */
section{
    margin-top: 100px;
} 
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
} 
div:nth-of-type(2n){
    background-color: #f7db6a;
} 
div:nth-of-type(3n){
    background-color: #ebb02d;
} 
#one{
    transform: rotate(-45deg);
} 
#two{
    transform: scale(2,0.5);
} 
#three{
    transform: translate(-100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translate(150px);
}
/*div{
    height: 100px;
    width: 100px; 
    background-color: rgba(255,0, 0, 0.1);  
    margin-top: 10px; 
    margin: 0 auto; 
    transition: margin-top 2s ease-in 0.2s;
    
} 
div:hover{
    background-color: aqua; 
    margin-top: 400px; 
    /*transition: 2s; 
    border-radius: 50%;  
    transition-duration: 1s;
    transition-delay: 1s;
} 
#opacity{
    background-color: hwb(39 0% 0%); 
    opacity: 0.5; 
    transition-duration: 5s;
} all the code for transition*/ 

